#jinja2: lstrip_blocks: True, trim_blocks: True
show ip bgp summary
{% if bgp_neighbors.skip_reason is not defined %}
{% set bgp_neighbors_lines = bgp_neighbors.stdout_lines[0] %}
{% if bgp_neighbors_lines[0] %}
{% for line in bgp_neighbors_lines %}
{{ line | replace(",", ";") }}
{% endfor %}
{% else %}
No BGP neighbors found.
{% endif %}
{% else %}
BGP is disabled.
{% endif %}
