#jinja2: lstrip_blocks: True, trim_blocks: True
show ip route
{% if route_table.stdout_lines[0][0] %}
{% for line in route_table.stdout_lines[0] %}
{{ line | replace(",", ";") }}
{% endfor %}
{% else %}
No route entries found.
{% endif %}