#jinja2: lstrip_blocks: True, trim_blocks: True
show running-config
{% if running_config.stdout_lines[0][0] %}
{% for line in running_config.stdout_lines[0] %}
{{ line | replace(",", ";") }}
{% endfor %}
{% endif %}