#jinja2: lstrip_blocks: True, trim_blocks: True
{% import "data_analysis.j2" as da with context %}
{# Build Diagnostic Report #}
##### Store Details ##############################

Incident: {{ snow_incident | upper }}
Store: {{ store_number }}
Concept: {{ store_concept }}
POS Subnet: {{ store_subnet }} {{ store_subnet_mask }}
PIN Pad Subnet: {{ store_subnet | regex_replace('^(\\d{3})\\.26\\.', '\\1.28.') }} {{ store_subnet_mask }}
Switch: {{ store_switch }}
Router: {{ store_router }}
Cisco SD-WAN: {% if sdwan_store %}Yes{% else %}No{% endif +%}
Mist Wireless: {% if mist_store %}Yes{% else %}No{% endif +%}


##### Recommended Next Steps ##############################

{{ da.recommendations }}


##### Store Analysis ##############################

Store Switch:
  Pingable: {{ da.store_switch_pingable_txt }}
  Uptime: {{ da.store_switch_uptime_txt }}
Store Router:
  Pingable: {{ da.store_router_pingable_txt }}
MPLS Path: {{ da.mpls_path_state }}
{% if not sdwan_store %}
Broadband Tunnel: {{ da.bb_tunnel_state }}
{% endif %}
Internet Reachable: {{ da.internet_reachable_txt }}
Internet Egress: {{ da.store_internet_egress_txt }}
DNS Resolution Functional: {{ da.dns_resolves_txt }}
Williams Sonoma Site (williams-sonoma.com) Reachable: {{ da.ws_site_reachable_txt }}
Store Wide Web Site ({{ storesweb_fqdn }} ) Reachable: {{ da.store_wide_web_reachable_txt }}
Verifone API (api.vfipayna.com) Reachable: {{ da.verifone_api_reachable_txt }}
Verifone Active Firewall Sessions:
  Ashburn: {{ da.active_verifone_sessions_ashburn_txt }}
  Rocklin: {{ da.active_verifone_sessions_rocklin_txt }}
  Sacramento: {{ da.active_verifone_sessions_sacramento_txt }}
{% if sdwan_store %}
Cisco SD-WAN:
  Tunnel Status:
    {{ da.asbc_hub_router_txt }}
    {{ da.rkat_hub_1_router_txt }}
    {{ da.rkat_hub_2_router_txt }}
  {{ da.tloc_stats_txt }}
{% endif %}
{% if mist_store %}
Mist Wireless:
  Site: {{ da.mist_site_txt }}
  Connected APs: {{ da.connected_aps_txt }}
  Connected Clients: {{ da.connected_clients_txt }}
  {{ da.mist_wlans_txt }}
  {{ da.mist_client_stats_txt }}
{% endif %}


##### Rocklin MPLS Router: Store Switch Reachability ##############################

{% if not store_switch_ping.stderr | default("failed") %}
  {% for item in store_switch_ping.stdout_lines[4:-4] %}
    {# Strip ASCII control characters #}
    {% set item = item | regex_replace("[^\x20-\x7e]", "") %}
    {% if "***" in item %}
      {{- item | regex_replace("\s?\*{3}\s?", "") }}

    {% else %}
      {{- item }}
    {% endif %}
  {% endfor %}
{% else %}
  {% set na = "N/A" %}
  {{- na }}
{% endif %}


##### Store Switch: Uptime ##############################

{% if not store_switch_uptime.stderr | default("failed") %}
  {% for item in store_switch_uptime.stdout_lines[4:-4] %}
    {# Strip ASCII control characters #}
    {% set item = item | regex_replace("[^\x20-\x7e]", "") %}
    {% if "***" in item %}
      {{- item | regex_replace("\s?\*{3}\s?", "") }}

    {% else %}
      {{- item }}
    {% endif %}
  {% endfor %}
{% else %}
  {% set item = "N/A"%}
  {{- item }}
{% endif %}


##### Rocklin MPLS Router: Store Router Reachability ##############################

{% if not store_router_ping.stderr | default("failed") %}
  {% for item in store_router_ping.stdout_lines[4:-4] %}
    {# Strip ASCII control characters #}
    {% set item = item | regex_replace("[^\x20-\x7e]", "") %}
    {% if "***" in item %}
      {{- item | regex_replace("\s?\*{3}\s?", "") }}

    {% else %}
      {{- item }}
    {% endif %}
  {% endfor %}
{% else %}
  {% set na = "N/A" %}
  {{- na }}
{% endif %}


##### Rocklin MPLS Router: Store POS Subnet in Route Table ##############################

{% if not store_subnet_lookup.stderr | default("failed") %}
  {% for item in store_subnet_lookup.stdout_lines[4:-4] %}
    {# Strip ASCII control characters #}
    {% set item = item | regex_replace("[^\x20-\x7e]", "") %}
    {% if "***" in item %}
      {{- item | regex_replace("\s?\*{3}\s?", "") }}

    {% else %}
      {{- item }}
    {% endif %}
  {% endfor %}
{% else %}
  {% set na = "N/A" %}
  {{- na }}
{% endif %}


{% if sdwan_store %}
##### vManage: Rocklin Hub Router 1 BFD Sessions ##############################

  {% if rkat1_hub_1_sessions.json.data | default("") %}
    {{- rkat1_hub_1_sessions.json.data | ansible.builtin.to_nice_json }}
  {% else %}
    {% set na = "N/A" %}
    {{- na }}
  {% endif %}


##### vManage: Rocklin Hub Router 2 BFD Sessions ##############################

  {% if rkat1_hub_2_sessions.json.data | default("") %}
    {{- rkat1_hub_2_sessions.json.data | ansible.builtin.to_nice_json }}
  {% else %}
    {% set na = "N/A" %}
    {{- na }}
  {% endif %}


##### vManage: Ashburn Hub Router BFD Sessions ##############################

  {% if asbc1_hub_1_sessions.json.data | default("") %}
    {{- asbc1_hub_1_sessions.json.data | ansible.builtin.to_nice_json }}
  {% else %}
    {% set na = "N/A" %}
    {{- na }}
  {% endif %}


##### vManage: TLOC Statistics ##############################

  {% if tloc_stats.json.data | default("") %}
    {{- tloc_stats.json.data | ansible.builtin.to_nice_json }}
  {% else %}
    {% set na = "N/A" %}
    {{- na }}
  {% endif %}


{% endif %}
{% if not sdwan_store %}
##### Rocklin MPLS Router: Store Broadband VPN Tunnel Status ##############################

  {% if not store_bb_tunnel_status.stderr | default("failed") %}
    {% for item in store_bb_tunnel_status.stdout_lines[4:-4] %}
      {# Strip ASCII control characters #}
      {% set item = item | regex_replace("[^\x20-\x7e]", "") %}
      {% if "***" in item %}
        {{- item | regex_replace("\s?\*{3}\s?", "") }}

      {% else %}
        {{- item }}
      {% endif %}
    {% endfor %}
  {% else %}
    {% set na = "N/A" %}
    {{- na }}
  {% endif %}


{% endif %}
{% if mist_store %}
##### Mist: Sites ##############################

  {% if mist_sites.json | default("") %}
    {{- mist_sites.json | ansible.builtin.to_nice_json }}
  {% else %}
    {% set na = "N/A" %}
    {{- na }}
  {% endif %}


##### Mist: Site Stats ##############################

  {% if mist_site_stats.json | default("") %}
    {{- mist_site_stats.json | ansible.builtin.to_nice_json }}
  {% else %}
    {% set na = "N/A" %}
    {{- na }}
  {% endif %}


##### Mist: Client Stats ##############################

  {% if mist_client_stats.json | default("") %}
    {{- mist_client_stats.json | ansible.builtin.to_nice_json }}
  {% else %}
    {% set na = "N/A" %}
    {{- na }}
  {% endif %}


##### Mist: WLANs ##############################

  {% if mist_wlans.json | default("") %}
    {{- mist_wlans.json | ansible.builtin.to_nice_json }}
  {% else %}
    {% set na = "N/A" %}
    {{- na }}
  {% endif %}


{% endif %}
##### Store Switch: Internet Path ##############################

{% if not store_internet_egress.stderr | default("failed") %}
  {% for item in store_internet_egress.stdout_lines[4:-4] %}
    {# Strip ASCII control characters #}
    {% set item = item | regex_replace("[^\x20-\x7e]", "") %}
    {% if "***" in item %}
      {{- item | regex_replace("\s?\*{3}\s?", "") }}

    {% else %}
      {{- item }}
    {% endif %}
  {% endfor %}
{% else %}
  {% set na = "N/A" %}
  {{- na }}
{% endif %}


##### Store Switch: DNS Resolution ##############################

{% if not store_switch_dns_test.stderr | default("failed") %}
  {% for item in store_switch_dns_test.stdout_lines[4:-4] %}
    {# Strip ASCII control characters #}
    {% set item = item | regex_replace("[^\x20-\x7e]", "") %}
    {% if "***" in item %}
      {{- item | regex_replace("\s?\*{3}\s?", "") }}

    {% else %}
      {{- item }}
  {% endif %}
  {% endfor %}
{% else %}
  {% set na = "N/A" %}
  {{- na }}
{% endif %}


##### Store Switch: Connect to www.williams-sonoma.com ##############################

{% if not store_switch_connect_ws_site.stderr | default("failed") %}
  {% for item in store_switch_connect_ws_site.stdout_lines[4:-4] %}
    {# Strip ASCII control characters #}
    {% set item = item | regex_replace("[^\x20-\x7e]", "") %}
    {% if "***" in item %}
      {{- item | regex_replace("\s?\*{3}\s?", "") }}

    {% else %}
      {{- item }}
    {% endif %}
  {% endfor %}
{% else %}
  {% set na = "N/A" %}
  {{- na }}
{% endif %}


##### Store Switch: Connect to Store Wide Web ##############################

{% if not store_switch_connect_storesweb.stderr | default("failed") %}
  {% for item in store_switch_connect_storesweb.stdout_lines[4:-4] %}
    {# Strip ASCII control characters #}
    {% set item = item | regex_replace("[^\x20-\x7e]", "") %}
    {% if "***" in item %}
      {{- item | regex_replace("\s?\*{3}\s?", "") }}

    {% else %}
      {{- item }}
    {% endif %}
  {% endfor %}
{% else %}
  {% set na = "N/A" %}
  {{- na }}
{% endif %}


##### Store Switch: Connect to Verifone ##############################

{% if not store_switch_connect_verifone.stderr | default("failed") %}
  {% for item in store_switch_connect_verifone.stdout_lines[4:-4] %}
    {# Strip ASCII control characters #}
    {% set item = item | regex_replace("[^\x20-\x7e]", "") %}
    {% if "***" in item %}
      {{- item | regex_replace("\s?\*{3}\s?", "") }}

    {% else %}
      {{- item }}
    {% endif %}
  {% endfor %}
{% else %}
  {% set na = "N/A" %}
  {{- na }}
{% endif %}


##### Ashburn Verifone Connections ##############################

{% if not active_verifone_sessions_ashburn.stderr | default("failed") %}
  {% for item in active_verifone_sessions_ashburn.stdout_lines %}
    {# Strip ASCII control characters #}
    {% set item = item | regex_replace("[^\x20-\x7e]", "") %}
    {% if "***" in item %}
      {{- item | regex_replace("\s?\*{3}\s?", "") }}

    {% else %}
      {{- item }}
    {% endif %}
  {% endfor %}
{% else %}
  {% set na = "N/A" %}
  {{- na }}
{% endif %}


##### Rocklin Verifone Connections ##############################

{% if not active_verifone_sessions_rocklin.stderr | default("failed") %}
  {% for item in active_verifone_sessions_rocklin.stdout_lines %}
    {# Strip ASCII control characters #}
    {% set item = item | regex_replace("[^\x20-\x7e]", "") %}
    {% if "***" in item %}
      {{- item | regex_replace("\s?\*{3}\s?", "") }}

    {% else %}
      {{- item }}
    {% endif %}
  {% endfor %}
{% else %}
  {% set na = "N/A" %}
  {{- na }}
{% endif %}


##### Sacramento Verifone Connections ##############################

{% if not active_verifone_sessions_sacramento.stderr | default("failed") %}
  {% for item in active_verifone_sessions_sacramento.stdout_lines %}
    {# Strip ASCII control characters #}
    {% set item = item | regex_replace("[^\x20-\x7e]", "") %}
    {% if "***" in item %}
      {{- item | regex_replace("\s?\*{3}\s?", "") }}

    {% else %}
      {{- item }}
    {% endif %}
  {% endfor %}
{% else %}
  {% set na = "N/A" %}
  {{- na }}
{% endif %}

{% if not sdwan_store %}

##### Rocklin MPLS Router: Store Broadband VPN Tunnels Down ##############################

  {% if not store_vpn_down_count.stderr | default("failed") %}
    {% for item in store_vpn_down_count.stdout_lines[4:-4] %}
      {# Strip ASCII control characters #}
      {% set item = item | regex_replace("[^\x20-\x7e]", "") %}
      {% if "***" in item %}
        {{- item | regex_replace("\s?\*{3}\s?", "") }}

      {% elif item.startswith("Number") %}
        {{- item }}
      {% else %}
        {{- item }}
      {% endif %}
    {% endfor %}
  {% else %}
    {% set na = "N/A" %}
    {{- na }}
  {% endif %}
{% endif %}