#jinja2: lstrip_blocks: True, trim_blocks: True
{% import "data_analysis.j2" as da with context %}
{# Build Diagnostic Work Notes #}
<h3>Recommended Next Steps</h3>
<pre style="background-color: transparent; border-width: 0">
{{ da.recommendations }}

</pre>
<h3>Store Analysis</h3>
<pre style="background-color: transparent; border-width: 0">
Store Switch:
  Pingable: {{ da.store_switch_pingable_txt }}
  Uptime: {{ da.store_switch_uptime_txt }}
Store Router:
  Pingable: {{ da.store_router_pingable_txt }}
MPLS Path: {{ da.mpls_path_state }}
{% if not sdwan_store %}
Broadband Tunnel: {{ da.bb_tunnel_state }}
{% endif %}
Internet Reachable: {{ da.internet_reachable_txt }}
Internet Egress: {{ da.store_internet_egress_txt }}
DNS Resolution Functional: {{ da.dns_resolves_txt }}
Williams Sonoma Site (williams-sonoma.com) Reachable: {{ da.ws_site_reachable_txt }}
Store Wide Web Site ({{ storesweb_fqdn }} ) Reachable: {{ da.store_wide_web_reachable_txt }}
Verifone API (api.vfipayna.com) Reachable: {{ da.verifone_api_reachable_txt }}
Verifone Active Firewall Sessions:
  Ashburn: {{ da.active_verifone_sessions_ashburn_txt }}
  Rocklin: {{ da.active_verifone_sessions_rocklin_txt }}
  Sacramento: {{ da.active_verifone_sessions_sacramento_txt }}
{% if sdwan_store %}
Cisco SD-WAN:
  Tunnel Status:
    {{ da.asbc_hub_router_txt }}
    {{ da.rkat_hub_1_router_txt }}
    {{ da.rkat_hub_2_router_txt }}
  {{ da.tloc_stats_txt }}
{% endif %}
{% if mist_store %}
Mist Wireless:
  Site: {{ da.mist_site_txt }}
  Connected APs: {{ da.connected_aps_txt }}
  Connected Clients: {{ da.connected_clients_txt }}
  {{ da.mist_wlans_txt }}
  {{ da.mist_client_stats_txt }}
{% endif %}
</pre>