#jinja2: lstrip_blocks: True, trim_blocks: True
{% set issue = namespace(found = false) %}
##### Store Details ##############################

Incident: {{ snow_incident | upper }}
Store: {{ store_number }}
Concept: {{ store_concept }}
POS Subnet: {{ store_subnet }} {{ store_subnet_mask }}
PIN Pad Subnet: {{ store_subnet | regex_replace('^(\\d{3})\\.26\\.', '\\1.28.') }} {{ store_subnet_mask }}
Switch: {{ store_switch }}
Router: {{ store_router }}
Cisco SD-WAN: {% if sdwan_store %}Yes{% else %}No{% endif +%}
Mist Wireless: {% if mist_store %}Yes{% else %}No{% endif +%}


##### Store Analysis ##############################

Store Switch:
{% if not store_switch_ping.stderr | default("failed") %}
{% set store_switch_pingable = true if store_switch_ping.stdout | regex_search("Success rate is [1-9]", multiline=True, ignorecase=False) else false %}
{% if store_switch_pingable %}
  Pingable: Yes
{% else %}
{% set issue.found = true %}
  Pingable: No 🔴
{% endif %}
{% else %}
{% set store_switch_pingable = false %}
{% set issue.found = true %}
  Pingable: N/A 🔴
{% endif %}
{% if not store_switch_uptime.stderr | default("failed") %}
{% set switch_uptime = store_switch_uptime.stdout_lines[5] | regex_replace("^.+uptime is ", "") %}
  Uptime: {{ switch_uptime }}
{% else %}
{% set issue.found = true %}
{% set switch_uptime = "unknown" %}
  Uptime: N/A 🔴
{% endif %}
Store Router:
{% if not store_router_ping.stderr | default("failed") %}
{% set store_router_pingable = true if store_router_ping.stdout | regex_search("Success rate is [1-9]", multiline=True, ignorecase=False) else false %}
{% if store_router_pingable %}
  Pingable: Yes
{% else %}
{% set issue.found = true %}
  Pingable: No 🔴
{% endif %}
{% else %}
{% set store_router_pingable = false %}
{% set issue.found = true %}
  Pingable: N/A 🔴
{% endif %}
{% if not store_subnet_lookup.stderr | default("failed") %}
{% set mpls_path_up = store_subnet_lookup.stdout_lines[5] | regex_search(store_subnet, multiline=True, ignorecase=False) %}
{% if mpls_path_up %}
MPLS Path: Up
{% else %}
{% set issue.found = true %}
MPLS Path: Down 🔴
{% endif %}
{% else %}
{% set issue.found = true %}
{% set mpls_path_up = "unknown" %}
MPLS Path: N/A 🔴
{% endif %}
{% if not sdwan_store %}
{% if not store_bb_tunnel_status.stderr | default("failed") %}
{% set bb_tunnel_up = true if store_bb_tunnel_status.stdout | regex_search("prefixes\s[1-9]\d*\s*$", multiline=True, ignorecase=False) else false %}
{% if bb_tunnel_up %}
Broadband Tunnel: Up
{% else %}
{% set issue.found = true %}
Broadband Tunnel: Down 🔴
{% endif %}
{% else %}
{% set issue.found = true %}
{% set bb_tunnel_up = "unknown" %}
Broadband Tunnel: N/A 🔴
{% endif %}
{% endif %}
{% if not store_internet_egress.stderr | default("failed") %}
{% set internet_reachable = store_internet_egress.stdout | regex_search("8.8.8.8.+msec", multiline=True, ignorecase=False) or store_switch_connect_ws_site.stdout | regex_search("Open", multiline=True, ignorecase=False) %}
{% if internet_reachable %}
Internet Reachable: Yes
{% else %}
{% set issue.found = true %}
Internet Reachable: No 🔴
{% endif %}
{% else %}
{% set issue.found = true %}
{% set internet_reachable = "unknown" %}
Internet Reachable: N/A 🔴
{% endif %}
{% if not store_internet_egress.stderr | default("failed") %}
{% if store_internet_egress.stdout | regex_search("asgi1", multiline=True, ignorecase=False) %}
Internet Egress: Ashburn
{% elif store_internet_egress.stdout | regex_search("rkat1", multiline=True, ignorecase=False)  %}
Internet Egress: Rocklin
{% elif store_internet_egress.stdout | regex_search("sast1", multiline=True, ignorecase=False)  %}
Internet Egress: Sacramento
{% else %}
{% set issue.found = true %}
Internet Egress: Unknown 🔴
{% endif %}
{% else %}
{% set issue.found = true %}
Internet Egress: N/A 🔴
{% endif %}
{% if not store_switch_dns_test.stderr | default("failed") %}
{% set dns_resolves = store_switch_dns_test.stdout | regex_search("Translating.+domain\sserver\s\(\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}\)\s\[OK\]", multiline=True, ignorecase=False) %}
{% if dns_resolves %}
DNS Resolution Functional: Yes
{% else %}
{% set issue.found = true %}
DNS Resolution Functional: No 🔴
{% endif %}
{% else %}
{% set issue.found = true %}
{% set dns_resolves = "unknown" %}
DNS Resolution Functional: N/A 🔴
{% endif %}
{% if not store_switch_connect_ws_site.stderr | default("failed") %}
{% if store_switch_connect_ws_site.stdout | regex_search("Open", multiline=True, ignorecase=False) %}
Williams Sonoma Site (williams-sonoma.com) Reachable: Yes
{% else %}
{% set issue.found = true %}
Williams Sonoma Site (williams-sonoma.com) Reachable: No 🔴
{% endif %}
{% else %}
{% set issue.found = true %}
Williams Sonoma Site (williams-sonoma.com) Reachable: N/A 🔴
{% endif %}
{% if not store_switch_connect_storesweb.stderr | default("failed") %}
{% set store_wide_web_reachable = store_switch_connect_storesweb.stdout | regex_search("Open", multiline=True, ignorecase=False) %}
{% if store_wide_web_reachable %}
Store Wide Web Site ({{ storesweb_fqdn }} ) Reachable: Yes
{% else %}
{% set issue.found = true %}
Store Wide Web Site ({{ storesweb_fqdn }} ) Reachable: No 🔴
{% endif %}
{% else %}
{% set issue.found = true %}
{% set store_wide_web_reachable = "unknown" %}
Store Wide Web Site ({{ storesweb_fqdn }} ) Reachable: N/A 🔴
{% endif %}
{% if not store_switch_connect_verifone.stderr | default("failed") %}
{% if store_switch_connect_verifone.stdout | regex_search("Open", multiline=True, ignorecase=False) %}
Verifone API (api.vfipayna.com) Reachable: Yes
{% else %}
{% set issue.found = true %}
Verifone API (api.vfipayna.com) Reachable: No 🔴
{% endif %}
{% else %}
{% set issue.found = true %}
Verifone API (api.vfipayna.com) Reachable: N/A 🔴
{% endif %}
Verifone Active Firewall Sessions:
{% if not active_verifone_sessions_ashburn.stderr | default("failed") %}
  Ashburn: {{ active_verifone_sessions_ashburn.stdout_lines | length - 1 }}
{% else %}
{% set issue.found = true %}
  Ashburn: N/A 🔴
{% endif %}
{% if not active_verifone_sessions_rocklin.stderr | default("failed") %}
  Rocklin: {{ active_verifone_sessions_rocklin.stdout_lines | length - 1 }}
{% else %}
{% set issue.found = true %}
  Rocklin: N/A 🔴
{% endif %}
{% if not active_verifone_sessions_sacramento.stderr | default("failed") %}
  Sacramento: {{ active_verifone_sessions_sacramento.stdout_lines | length - 1 }}
{% else %}
{% set issue.found = true %}
  Sacramento: N/A 🔴
{% endif %}
{% if sdwan_store %}
{% set sdwan_sessions = { "private": { "count": 0, "down": 0 }, "internet": { "count": 0, "down": 0 } } %}
Cisco SD-WAN:
  Tunnel Status:
{% if asbc1_hub_1_sessions.json.data | default("") %}
    Ashburn Hub Router:
{% for s in asbc1_hub_1_sessions.json.data %}
{% set session_type = s["local-color"] | regex_replace("(\d$)|(^biz-)", "") %}
{% if sdwan_sessions[session_type].update({ "count": sdwan_sessions[session_type]["count"] + 1 })  %}{% endif %}
{% if s.state == "up" %}
      {{ s["local-color"] | title }}: Up
{% else %}
{% set issue.found = true %}
      {{ s["local-color"] | title }}: Down 🔴
{% if sdwan_sessions[session_type].update({ s.state: sdwan_sessions[session_type][s.state] + 1 })  %}{% endif %}
{% endif %}
{% endfor %}
{% else %}
{% set issue.found = true %}
    Ashburn Hub Router: N/A 🔴
{% endif %}
{% if rkat1_hub_1_sessions.json.data | default("") %}
    Rocklin Hub Router 1:
{% for s in rkat1_hub_1_sessions.json.data %}
{% set session_type = s["local-color"] | regex_replace("(\d$)|(^biz-)", "") %}
{% if sdwan_sessions[session_type].update({ "count": sdwan_sessions[session_type]["count"] + 1 })  %}{% endif %}
{% if s.state == "up" %}
      {{ s["local-color"] | title }}: Up
{% else %}
{% set issue.found = true %}
      {{ s["local-color"] | title }}: Down 🔴
{% if sdwan_sessions[session_type].update({ s.state: sdwan_sessions[session_type][s.state] + 1 })  %}{% endif %}
{% endif %}
{% endfor %}
{% else %}
{% set issue.found = true %}
    Rocklin Hub Router 1: N/A 🔴
{% endif %}
{% if rkat1_hub_2_sessions.json.data | default("") %}
    Rocklin Hub Router 2:
{% for s in rkat1_hub_2_sessions.json.data %}
{% set session_type = s["local-color"] | regex_replace("(\d$)|(^biz-)", "") %}
{% if sdwan_sessions[session_type].update({ "count": sdwan_sessions[session_type]["count"] + 1 })  %}{% endif %}
{% if s.state == "up" %}
      {{ s["local-color"] | title }}: Up
{% else %}
{% set issue.found = true %}
      {{ s["local-color"] | title }}: Down 🔴
{% if sdwan_sessions[session_type].update({ s.state: sdwan_sessions[session_type][s.state] + 1 })  %}{% endif %}
{% endif %}
{% endfor %}
{% else %}
{% set issue.found = true %}
    Rocklin Hub Router 2: N/A 🔴
{% endif %}
{% if tloc_stats.json.data | default("") %}
  TLOC Stats (Past Hour):
{% set remote_colors =  [ "biz-internet", "private1", "private2" ] %}
{% set properties =  [ "Jitter", "Latency", "Loss_Percentage", "vQoE_Score" ] %}
{% for c in remote_colors %}
    {{ c | title }}:
{% for p in properties %}
{% set stats = tloc_stats.json.data | selectattr("remote_color", "equalto", c) | map(attribute=p | lower) | list %}
{% set stats_count = stats | length %}
{% if stats_count > 0 %}
{% set stats_mean = "%.2f" | format(stats | sum / stats_count) %}
{% if p == "vQoE_Score" and stats_mean | int <= 5 %}
{% set issue.found = true %}
      {{ p | replace("_", " ") }}: {{ stats_mean }} 🔴
{% else %}
      {{ p | replace("_", " ") }}: {{ stats_mean }}
{% endif %}
{% else %}
{% set issue.found = true %}
      {{ p | replace("_", " ") }}: N/A 🔴
{% endif %}
{% endfor %}
{% endfor %}
{% else %}
{% set issue.found = true %}
    TLOC Stats (Past Hour): N/A 🔴
{% endif %}
{% endif %}
{% if mist_store %}
Mist Wireless:
{% if mist_site_stats.json | default("") %}
  Site: {{ mist_site_stats.json.name }}
{% if mist_site_stats.json.num_ap_connected == mist_site_stats.json.num_ap %}
  Connected APs: {{ mist_site_stats.json.num_ap_connected }}/{{ mist_site_stats.json.num_ap }}
{% else %}
{% set issue.found = true %}
  Connected APs: {{ mist_site_stats.json.num_ap_connected }}/{{ mist_site_stats.json.num_ap }} 🔴
{% endif %}
  Connected Clients: {{ mist_site_stats.json.num_clients }}
{% else %}
{% set issue.found = true %}
  Site: N/A 🔴
  Connected APs: N/A 🔴
  Connected Clients: N/A 🔴
{% endif %}
{% if mist_wlans.json | default("") %}
  SSIDs:
{% for wlan in mist_wlans.json %}
    {{ wlan.ssid }}:
      Enabled: {% if wlan.enabled %}Yes{% else %}No{% endif +%}
      Connected Clients: {{ mist_client_stats.json | selectattr('ssid', 'match', wlan.ssid) | length }}
{% endfor %}
{% else %}
{% set issue.found = true %}
  SSIDs: N/A 🔴
{% endif %}
{% if mist_client_stats.json | default("") %}
{% set rssi =  mist_client_stats.json | map(attribute='rssi') | sort %}
  RSSI:
    Best: {% if rssi[-1] | int > -70 %}{{ rssi[-1] }}{% else %}{{ rssi[-1] }} 🔴{% set issue.found = true %}{% endif +%}
    Worst: {% if rssi[0] | int > -70 %}{{ rssi[0] }}{% else %}{{ rssi[0] }} 🔴{% endif +%}
    Median: {% if rssi[rssi | length // 2] | int > -70 %}{{ rssi[rssi | length // 2] }}{% else %}{{ rssi[rssi | length // 2] }} 🔴{% endif +%}
    Top 5 Worst:
{% for c in (mist_client_stats.json | sort(attribute="rssi"))[:5] %}
{% if c.hostname | default("") and c.hostname | default("") != "\"\"" %}
      {{ c.ip | default("0.0.0.0") }} ({{ c.hostname }}):
{% else %}
      {{ c.ip | default("0.0.0.0") }}:
{% endif %}
        RSSI: {% if c.rssi | int > -70 %}{{ c.rssi }}{% else %}{{ c.rssi }} 🔴{% endif +%}
        SNR: {% if c.snr | int > 25 %}{{ c.snr }}{% else %}{{ c.snr }} 🔴{% endif +%}
        SSID: {{ c.ssid }}
        Channel: {{ c.channel }}
        MAC Address: {{ c.mac }}
        Username: {{ c.username | default("") }}
{% endfor %}
{% else %}
{% set issue.found = true %}
  RSSI: N/A 🔴
{% endif %}
{% endif %}


##### Recommended Next Steps ##############################

{% set sdwan_all_private_down = true if sdwan_store and
                                          (sdwan_sessions.private.count > 0 and
                                          sdwan_sessions.private.count == sdwan_sessions.private.down) else false %}
{% set sdwan_all_internet_down = true if sdwan_store and
                                          (sdwan_sessions.internet.count > 0 and
                                          sdwan_sessions.internet.count == sdwan_sessions.internet.down) else false %}
{% set store_reachable = true if store_switch_pingable or store_router_pingable else false %}
{% if issue.found or
        sdwan_all_private_down or
        sdwan_all_internet_down or
        not store_reachable %}
{# Specific recommendations #}
{% if not store_reachable %}
⏺ Store is not reachable, call the store MOD to verify power
{% else %}
{# All other specific recommendations #}
{% if sdwan_all_private_down %}
⏺ All SD-WAN private tunnels are down, confirm that a Verizon support case was auto created and update the incident with the details
{% endif %}
{% if sdwan_all_internet_down %}
⏺ All SD-WAN internet tunnels are down, open a ticket with Granite and update the incident with the details
{% endif %}
{% if not sdwan_store and not bb_tunnel_up %}
⏺ Broadband tunnel is down, open a ticket with Granite and update the incident with the details
{% endif %}
{% if not internet_reachable and
        mpls_path_up and
        store_router_pingable and
        store_switch_pingable %}
⏺ Internet is not reachable, escalate to DNL3
{% elif not internet_reachable %}
⏺ Internet is not reachable, open a ticket with Granite and update the incident with the details
{% endif %}
{% if not store_wide_web_reachable and
        mpls_path_up and
        dns_resolves and
        store_router_pingable and
        store_switch_pingable %}
⏺ Store Wide Web is not reachable, contact Store App Support
{% endif %}
{% if switch_uptime != "unknown" and not switch_uptime | regex_search("hour", multiline=False, ignorecase=False) %}
⏺ Store switch uptime is less than one hour, check other device uptimes to determine if there was a storewide power outage
{% endif %}
{% endif %}
{# General recommendation #}
⏺ Review all issues in the above Store Analysis section
{% else %}
{# Default recommendation #}
⏺ Look for latency issues in this diagnostic report
{% endif %}


##### Rocklin MPLS Router: Store Switch Reachability ##############################

{% if not store_switch_ping.stderr | default("failed") %}
{% for item in store_switch_ping.stdout_lines[4:-4] %}
{# Strip ASCII control characters #}
{% set item = item | regex_replace("[^\x20-\x7e]", "") %}
{% if "***" in item %}
{{ item | regex_replace("\s?\*{3}\s?", "") }}

{% else %}
{{ item }}
{% endif %}
{% endfor %}
{% else %}
N/A
{% endif %}


##### Store Switch: Uptime ##############################

{% if not store_switch_uptime.stderr | default("failed") %}
{% for item in store_switch_uptime.stdout_lines[4:-4] %}
{# Strip ASCII control characters #}
{% set item = item | regex_replace("[^\x20-\x7e]", "") %}
{% if "***" in item %}
{{ item | regex_replace("\s?\*{3}\s?", "") }}

{% else %}
{{ item }}
{% endif %}
{% endfor %}
{% else %}
N/A
{% endif %}


##### Rocklin MPLS Router: Store Router Reachability ##############################

{% if not store_router_ping.stderr | default("failed") %}
{% for item in store_router_ping.stdout_lines[4:-4] %}
{# Strip ASCII control characters #}
{% set item = item | regex_replace("[^\x20-\x7e]", "") %}
{% if "***" in item %}
{{ item | regex_replace("\s?\*{3}\s?", "") }}

{% else %}
{{ item }}
{% endif %}
{% endfor %}
{% else %}
N/A
{% endif %}


##### Rocklin MPLS Router: Store POS Subnet in Route Table ##############################

{% if not store_subnet_lookup.stderr | default("failed") %}
{% for item in store_subnet_lookup.stdout_lines[4:-4] %}
{# Strip ASCII control characters #}
{% set item = item | regex_replace("[^\x20-\x7e]", "") %}
{% if "***" in item %}
{{ item | regex_replace("\s?\*{3}\s?", "") }}

{% else %}
{{ item }}
{% endif %}
{% endfor %}
{% else %}
N/A
{% endif %}


{% if sdwan_store %}
##### vManage: Rocklin Hub Router 1 BFD Sessions

{% if rkat1_hub_1_sessions.json.data | default("") %}
{{ rkat1_hub_1_sessions.json.data | ansible.builtin.to_nice_json }}
{% else %}
N/A
{% endif %}


##### vManage: Rocklin Hub Router 2 BFD Sessions

{% if rkat1_hub_2_sessions.json.data | default("") %}
{{ rkat1_hub_2_sessions.json.data | ansible.builtin.to_nice_json }}
{% else %}
N/A
{% endif %}


##### vManage: Ashburn Hub Router BFD Sessions

{% if asbc1_hub_1_sessions.json.data | default("") %}
{{ asbc1_hub_1_sessions.json.data | ansible.builtin.to_nice_json }}
{% else %}
N/A
{% endif %}


##### vManage: TLOC Statistics

{% if tloc_stats.json.data | default("") %}
{{ tloc_stats.json.data | ansible.builtin.to_nice_json }}
{% else %}
N/A
{% endif %}


{% endif %}
{% if not sdwan_store %}
##### Rocklin MPLS Router: Store Broadband VPN Tunnel Status ##############################

{% if not store_bb_tunnel_status.stderr | default("failed") %}
{% for item in store_bb_tunnel_status.stdout_lines[4:-4] %}
{# Strip ASCII control characters #}
{% set item = item | regex_replace("[^\x20-\x7e]", "") %}
{% if "***" in item %}
{{ item | regex_replace("\s?\*{3}\s?", "") }}

{% else %}
{{ item }}
{% endif %}
{% endfor %}
{% else %}
N/A
{% endif %}


{% endif %}
{% if mist_store %}
##### Mist: Sites

{% if mist_sites.json | default("") %}
{{ mist_sites.json | ansible.builtin.to_nice_json }}
{% else %}
N/A
{% endif %}


##### Mist: Site Stats

{% if mist_site_stats.json | default("") %}
{{ mist_site_stats.json | ansible.builtin.to_nice_json }}
{% else %}
N/A
{% endif %}


##### Mist: Client Stats

{% if mist_client_stats.json | default("") %}
{{ mist_client_stats.json | ansible.builtin.to_nice_json }}
{% else %}
N/A
{% endif %}


##### Mist: WLANs

{% if mist_wlans.json | default("") %}
{{ mist_wlans.json | ansible.builtin.to_nice_json }}
{% else %}
N/A
{% endif %}


{% endif %}
##### Store Switch: Internet Path ##############################

{% if not store_internet_egress.stderr | default("failed") %}
{% for item in store_internet_egress.stdout_lines[4:-4] %}
{# Strip ASCII control characters #}
{% set item = item | regex_replace("[^\x20-\x7e]", "") %}
{% if "***" in item %}
{{ item | regex_replace("\s?\*{3}\s?", "") }}

{% else %}
{{ item }}
{% endif %}
{% endfor %}
{% else %}
N/A
{% endif %}


##### Store Switch: DNS Resolution ##############################

{% if not store_switch_dns_test.stderr | default("failed") %}
{% for item in store_switch_dns_test.stdout_lines[4:-4] %}
{# Strip ASCII control characters #}
{% set item = item | regex_replace("[^\x20-\x7e]", "") %}
{% if "***" in item %}
{{ item | regex_replace("\s?\*{3}\s?", "") }}

{% else %}
{{ item }}
{% endif %}
{% endfor %}
{% else %}
N/A
{% endif %}


##### Store Switch: Connect to www.williams-sonoma.com ##############################

{% if not store_switch_connect_ws_site.stderr | default("failed") %}
{% for item in store_switch_connect_ws_site.stdout_lines[4:-4] %}
{# Strip ASCII control characters #}
{% set item = item | regex_replace("[^\x20-\x7e]", "") %}
{% if "***" in item %}
{{ item | regex_replace("\s?\*{3}\s?", "") }}

{% else %}
{{ item }}
{% endif %}
{% endfor %}
{% else %}
N/A
{% endif %}


##### Store Switch: Connect to Store Wide Web ##############################

{% if not store_switch_connect_storesweb.stderr | default("failed") %}
{% for item in store_switch_connect_storesweb.stdout_lines[4:-4] %}
{# Strip ASCII control characters #}
{% set item = item | regex_replace("[^\x20-\x7e]", "") %}
{% if "***" in item %}
{{ item | regex_replace("\s?\*{3}\s?", "") }}

{% else %}
{{ item }}
{% endif %}
{% endfor %}
{% else %}
N/A
{% endif %}


##### Store Switch: Connect to Verifone ##############################

{% if not store_switch_connect_verifone.stderr | default("failed") %}
{% for item in store_switch_connect_verifone.stdout_lines[4:-4] %}
{# Strip ASCII control characters #}
{% set item = item | regex_replace("[^\x20-\x7e]", "") %}
{% if "***" in item %}
{{ item | regex_replace("\s?\*{3}\s?", "") }}

{% else %}
{{ item }}
{% endif %}
{% endfor %}
{% else %}
N/A
{% endif %}


##### Ashburn Verifone Connections ##############################

{% if not active_verifone_sessions_ashburn.stderr | default("failed") %}
{% for item in active_verifone_sessions_ashburn.stdout_lines %}
{# Strip ASCII control characters #}
{% set item = item | regex_replace("[^\x20-\x7e]", "") %}
{% if "***" in item %}
{{ item | regex_replace("\s?\*{3}\s?", "") }}

{% else %}
{{ item }}
{% endif %}
{% endfor %}
{% else %}
N/A
{% endif %}


##### Rocklin Verifone Connections ##############################

{% if not active_verifone_sessions_rocklin.stderr | default("failed") %}
{% for item in active_verifone_sessions_rocklin.stdout_lines %}
{# Strip ASCII control characters #}
{% set item = item | regex_replace("[^\x20-\x7e]", "") %}
{% if "***" in item %}
{{ item | regex_replace("\s?\*{3}\s?", "") }}

{% else %}
{{ item }}
{% endif %}
{% endfor %}
{% else %}
N/A
{% endif %}


##### Sacramento Verifone Connections ##############################

{% if not active_verifone_sessions_sacramento.stderr | default("failed") %}
{% for item in active_verifone_sessions_sacramento.stdout_lines %}
{# Strip ASCII control characters #}
{% set item = item | regex_replace("[^\x20-\x7e]", "") %}
{% if "***" in item %}
{{ item | regex_replace("\s?\*{3}\s?", "") }}

{% else %}
{{ item }}
{% endif %}
{% endfor %}
{% else %}
N/A
{% endif %}

{% if not sdwan_store %}

##### Rocklin MPLS Router: Store Broadband VPN Tunnels Down ##############################

{% if not store_vpn_down_count.stderr | default("failed") %}
{% for item in store_vpn_down_count.stdout_lines[4:-4] %}
{# Strip ASCII control characters #}
{% set item = item | regex_replace("[^\x20-\x7e]", "") %}
{% if "***" in item %}
{{ item | regex_replace("\s?\*{3}\s?", "") }}

{% elif item.startswith("Number") %}
{{ item }}
{% else %}
{{ item }}
{% endif %}
{% endfor %}
{% else %}
N/A
{% endif %}
{% endif %}